<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="font-segment7.html">

<!--
`seven-segment-element`
A very simple element that mimic a 7-segment display.

@demo demo/index.html 
-->

<dom-module id="seven-segment-element">
  <template>
    <style>
      :host {
        display: inline-block;
				background-color: black;
				position: relative;
      }
			:host .segment { 
				padding-top:0.4ex;
				font-family: 'Segment7Standard'; 
				font-weight: normal; 
				font-style: italic; 
				font-size: 25px;
				color: red;
			}
			:host div.segment span{
				margin:0;
				padding-right:0;
				padding-left:0;
				display: inline-block;
			}
			:host .shadow {
				opacity: 0.4;
				z-index: 0;
			}
			:host .solid {
				text-align: right;
				position: absolute;
				right:0px;
				bottom: 0px;
			}
    </style>
		<div class="segment">
			<span class="shadow">{{genshadow(size)}}</span>
			<span class="solid">{{value}}</span>
		</div>
  </template>

  <script>
    Polymer({
      is: 'seven-segment-element',
      properties: {
				value: String,
				size: {
					type: Number,
					value: 8
				}
     },
		 genshadow: function(size){
			 return Array(size+1).join("8")
		 }
    });
  </script>
</dom-module>
